body {
    font-family:  sans-serif;
    background-color: #958fec;
    padding: 30px;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5%;
    /* outline:red 1px solid; */
    
    /* line-height: 2; */
}
.all{
    display: flex;
    padding: 20px;
    margin: 5%;
    /* justify-content: space-between; */
    /* outline: #bf1815 solid 2px; */
}

h1 {
    color: #333;
}

.question {
    margin: 20px 10px;
    padding: 1%;
}

.box {
    background-color: rgb(234, 206, 255);
    padding: 2%;
    width: 18%;
    height: 10%;
    display: flex;
    flex-direction: column;
    /* outline:red 1px solid; */
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #bf1815;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #19d72f;
    color: black;
    transform: scale(1.1);
    transition: 0.5s;
}

#result {
    margin-top: 30px;
    font-size: 24px;
    color: #2d3f31;
    font-weight: bold;
}